.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
results_ProTN/
results_ProTN/*
results_ProTN/table/normalised_abundances.xlsx
phosprotn_package_tester.html
protn_package_tester.html
phosprotn_proteome_package_tester.html
results*/
.Rbuildignore
inst/extdata/case_study_phospho/
inst/extdata/case_study_proteome/
inst/extdata/PD/
inst/extdata/test/
inst/doc
/doc/
/Meta/
phospho/
proteome/
script_test.R
inst/extdata/STRINGdb

phosprotn_proteome_package_tester.Rmd
phosprotn_package_tester.Rmd
protn_package_tester.Rmd
inst/extdata/9606.protein.links.v12.0.txt.gz
inst/extdata/9606.protein.info.v12.0.txt.gz
inst/extdata/9606.protein.aliases.v12.0.txt.gz
