.Rproj.user
.Rhistory
.RData
.Ruserdata
results_ProTN/
results_ProTN/*
results_ProTN/table/normalised_abundances.xlsx
phosprotn_package_tester.html
protn_package_tester.html
phosprotn_proteome_package_tester.html
results*/
.Rbuildignore
inst/extdata/case_study_phospho/
inst/extdata/case_study_proteome/
inst/extdata/PD/
